@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  scroll-behavior: smooth;
}

/*personalizacion del header*/
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
  background: black;
  padding: 0 40px;
  z-index: 120;
}

.close_bars{
  display: none;
}
.open_bars{
  display: none;
}
.logo a {
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.logoo {
  align-items: center;
  justify-content: center;

}

.logoo a {
  color: rgba(255, 0, 0, 0.932);
  font-weight: 800;
  text-decoration: none;
  font-size: 23px;
}

.logoo a:hover {
  color: red;
  text-decoration: none;
}

.menuu {
  display: flex;
  margin: 0;
}

.menuu li a {
  text-decoration: none;
  font-weight: 600;
  transition: .2s ease-in-out;
  color: white;
  font-size: 15px;
}

.menuu li:hover .category_list {
  display: flex;
}

.menuu li a:hover {
  color: rgb(156, 143, 143);
}

.menuu li {
  list-style: none;
  margin-left: 15px;
}

.menuu .category_list {
  display: none;
  flex-direction: column;
  height: auto;
  width: 200px;
  background-color: rgb(31, 28, 28);
  position: absolute;
}

.menuu .category_item {
  text-decoration: none;
  line-height: 45px;
  font-size: 15px;
  color: rgb(177, 168, 168);
}
.exit a{
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-size: 15px;
  transition: .3s ease-in-out;
  cursor: pointer;
}
.exit a:hover{
  color: white;
  text-decoration: none;
}

.exit button {
  width: 115px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: red;
  font-weight: bold;
  transition: .3s ease-in-out;
}

.exit button:hover {
  color: red;
  border: 1px solid red;
  background: white;
}

.exit2 button {
  display: none;
}

/* personalización del buscador*/
.buscar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

.buscar_texto {
  border: none;
  outline: none;
  color: black;
  font-size: 14px;
  float: left;
  line-height: 40px;
  transition: .3s;
  width: 0;
  border-radius: 10px;
}

.boton {
  width: 40px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

::-webkit-input-placeholder {
  color: black;
}

.buscar:hover>.buscar_texto {
  width: 190px;

}

/*personalizacion de la pagina principal*/
.center {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)), url(/imagenes/fondo.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}

.center .center-b {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  text-align: center;
}

.titles .title {
  color: white;
  font-size: 50px;
  font-weight: 800;
}

.titles .subtitle {
  color: white;
  font-size: 45px;
  font-weight: 700;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns .btn2 {
  margin: 10px;
}

.btns .btn {
  width: 145px;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 20px;
  border: 3px solid white;
  background: transparent;
  color: white;
  font-weight: 700;
  transition: .2s ease-in-out;
}

.btn:hover {
  color: black;
  background: white;
}

.center .img {
  width: 300px;
  height: 300px;
}

/*SECCION DE PELICULAS DESPUES DEL INICIO*/
.section {
  background: linear-gradient(to right, rgb(29, 26, 26), rgb(36, 33, 33));
}

.section .topi {
  display: flex;
  text-align: center;
  align-items: center;
}

.section .topi i {
  color: red;
  padding: 10px;
}

.section .topi .sec--title {
  color: white;
  font-size: 20px;
}

.section .topi .topi--b {
  margin: 10px;
  color: red;
  background: transparent;
  outline: none;
  border: none;
  border: 1px solid red;
  cursor: pointer;
}

.gallery--container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 20px;
  gap: 10px;
}

.gallery--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery--item {
  position: relative;
  transition: all .4s ease-in-out;
}

.gallery--center {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  height: 80%;
  margin: 0;
  opacity: 0;
  background: linear-gradient(to right, #00000070, black);
  transition: .5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery--center .g1title {
  color: white;
  font-size: 20px;
  text-align: center;
}

.gallery--center .g2title {
  color: #ffffff86;
  font-size: 10px;
  text-align: center;
}

.gallery--center .g3title {
  color: #ffffff86;
  font-size: 10px;
  text-align: center;
}

.gallery--center .gdescripcion {
  color: #ffffff86;
  font-size: 10px;
  text-align: center;
}

.gallery--center .gbtns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery--center .gbtn {
  width: 80px;
  height: 40px;
  margin: 5px;
  border-radius: 20px;
  outline: none;
  border: none;
  border: 2px solid white;
  background: none;
  color: white;
  font-size: 12px;
  font-weight: 600;
  transition: .2s ease-in-out;
}

.gallery--center .gbtn:hover {
  color: black;
  background: white;
}

.gallery--item:hover>.gallery--center {
  opacity: 1;
}

/*PROBANDO JQUERY*/

#wrap {
  width: 100%;
  margin: auto;
  background: linear-gradient(to right, black, black);
  padding: 20px 0 0 0;
}

#wrap h1 {
  color: white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.store-wrapper {
  display: flex;
  flex-direction: column;
}

.category_list .ct_item-active {
  background: transparent;
  color: white;
}

/* Seccion del buscador interno*/
#p-centerro {
  height: 10%;
}

.menu {
  float: left;
  width: 15%;
  height: 55vh;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  background: transparent;
}

.menu h2 {
  color: #04267A;
}

.menu p {
  margin-top: 15px;
  font-size: 20px;
}

.contenido {
  float: left;
  width: 100%;
  height: 100vh;
  margin-bottom: 30px;
  background: rgb(255, 255, 255);
}

.contenido .principal {
  width: 100%;
  height: 40px;
  background: transparent;
}

.contenido .principal .img {
  padding-top: 25px;
  text-align: center;
  justify-content: center;
}

.contenido .principal h3 span {
  color: white;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.contenido,
.principal h3 {
  text-align: center;
}

/*Search*/
#target {
  background: #0099cc;
  width: 300px;
  height: 300px;
  padding: 5px;
  display: none;
}

.Hide {
  display: none;
}

.Hide a {
  text-decoration: none;
  color: white;
}

/*MODAL*/

.contenido {
  padding-top: 90px;
  height: 300px;
  background: transparent;
}

.modal-title {
  color: black;
  font-weight: 800;
}

.modal-dialog {
  width: 100%;
  align-items: initial;
  justify-content: initial;
  display: flex;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.gallery {
  border: 2px solid white;
  list-style: none;
}

#directory {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 10px;
  background: black;
}

.modal-confirm {
  color: #636363;
  width: 100%;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
  background: black;

}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 30px;
  margin: 30px 0 -10px;
  text-transform: uppercase;
  color: white;
}

.modal-confirm .close {
  color: white;
  font-size: 35px;
  position: absolute;
  top: -5px;
  right: -2px;
}

.modal-confirm .modal-body {
  color: #999;
}

.modal-confirm .modal-body i {
  color: red;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
  color: #999;
}

.modal-confirm .btn-secondary {
  background: gray;
}

.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
  background: #a8a8a8;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.Footer .container p {
  color: rgb(99, 90, 90);
}

.Footer .container p span {
  color: red;
}

.Footer .container p strong {
  color: red;
}

.Footer .container p b {
  color: red;
}

/*MODAL*/
.modal-dialog {
  width: 100%;
  align-items: initial;
  justify-content: initial;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: black;
  height: auto;
}

#directory {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 10px;
}

.modal-confirm {
  color: #636363;
  width: 100%;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}

.modal-confirm .close {
  color: white;
  font-size: 35px;
  position: absolute;
  top: -5px;
  right: -2px;
}

.modal-confirm .modal-body {
  color: #999;
}

.modal-confirm .modal-body i {
  color: red;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
  color: #999;
}

.modal-confirm .btn-secondary {
  background: gray;
}

.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
  background: #a8a8a8;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

/*sections peliculas para reporudcirlas*/
.p-center0 {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.623),
      rgba(0, 0, 0, 0.637)), url(https://surtido.pe/wp-content/uploads/2023/04/Transformers-El-Despertar-de-las-Bestias-presenta-al-villano-de-la-pelicula-en-su-nuevo-trailer-Unicron-Villano-02.jpg);
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.p-center {
  width: 100%;
  height: 600px;
  background: black;
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;
  align-items: center;
}

.titulos {
  color: white;
  flex-direction: column;
  display: flex;
  width: 600px;
  padding: 0 0 0 30px;
}

.titulos .pe {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.titulos .re {
  font-size: 19px;
  color: rgb(190, 184, 184);
  margin-bottom: 10px;
}
.titulos .per{
  color: rgb(219, 15, 192);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 25px;
}
.titulos .h2 {
  font-size: 10px;
  line-height: 20px;
  margin-bottom: 10px;
  color: rgb(209, 204, 204);
}

.titulos .but button {
  border: none;
  width: 134px;
  height: 45px;
  outline: none;
  border: 3px solid white;
  font-weight: 700;
  border-radius: 10px;
  background: none;
  color: white;
  transition: .3s ease-in-out;
}

.titulos .but button:hover {
  color: black;
  background: white;
}

.p-center .title {
  color: white;
  font-size: 40px;
  font-weight: 900;
}
/*seccion peliculas*/
.peliculas{
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: auto;
  z-index: 100;
  position: absolute;
  top: 65px;
}  
.peli_principal{
  justify-content: center;
  align-items: center;
  width: 80%;
}
.peliculas .peli_center{
  display: flex;
  flex-direction: column;
  height: auto;
}
.pelis_center{
  display: flex;
}
.pelis_center .img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pelis_center .img button{
  color: white;
  background: transparent;
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  transition: .3s ease-in-out;
}
.pelis_center .img button:hover{
  background: rgb(255, 253, 253);
  color: rgb(8, 8, 8);
  border-radius: 20px;
}
.pelis_center .img img{
  width: 200px;
  height: 290px;
  margin: 20px;
}
.pelis_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pelis_main .title{
  color: white;
  font-size: 32px;
  font-weight: bold;
}
.pelis_main .subtitle{
  color: rgb(245, 15, 15);
  font-size: 20px;
  margin-bottom: 14px;
}
.pelis_main .resubtitle{
  color: rgb(206, 203, 205);
  font-size: 12px;
  margin-bottom: 15px;
}
.description_images{
  display: flex;
  flex-direction: column;
}
.description_images .descripcion{
  color: rgb(197, 195, 195);
  font-size: 15px;
  margin-bottom: 10px;
}
.description_images .generos{
  color: rgb(197, 195, 195);
    font-size: 14px;
}
.pelis_main  .description_images .actor{
  color: rgb(197, 195, 195);
  font-size: 14px;
}
#images_phone{
  display: none;
}
 .btns {
  display: flex;
  justify-content: initial;
  margin-top: 20px;
}
.btns .btn2 {
  display: flex;
  justify-content: initial;
  align-items: center;
  margin-top: 0px;
}

.peliculas .btns button {
  border: 1px solid rgba(255, 255, 255, 0.432);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.527);
  background: rgba(124, 117, 117, 0.144);
  outline: none;
  width: 120px;
  height: 45px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.peliculas .btns button:hover {
  background: rgba(255, 255, 255, 0.438);
  color: rgba(255, 255, 255, 0.61);
  border-radius: 20px;
}
.pelicula iframe {
  width: 100%;
  height: 500px;
  background: rgb(10, 10, 10);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
}
.ayuda{
  color: rgb(197, 195, 195);
  font-size: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
}
.copy{
  color: white;
  font-size: 10px;
  text-align: center;
}
/*Configuracion para todas las series de una sola vez por todas*/
.serie-center {
  display: flex;
  flex-direction: row;
}

.series {
  width: 100%;
  flex-direction: column;
  height: auto;
  display: none;
  background: black;
  object-fit: cover;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 101;
  padding-top: 7%;
}

.series .img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.series .serie-center .img .volver button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 90px;
  height: 25px;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 20px;

}

.series .serie-center .img .volver button:hover {
  background: white;
  color: black;

}


.series .img img {
  width: 300px;
  height: 350px;
  margin: 20px;
  object-fit: contain;
}

.series .title {
  color: white;
  font-size: 35px;
  font-weight: 800;
}

.series .subtitle {
  color: white;
  padding-bottom: 40px;
}

.series .seriesdescrip {
  color: white;
  width: 90%;
  padding-bottom: 20px;
  font-size: 15px;
}

.series .footer h6 {
  color: white;
  font-size: 13px;
  width: 90%;
  padding-bottom: 20px;
}

.series .temporadas .tempos button {
  width: 140px;
  height: 35px;
  font-size: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid white;
  color: white;
}
.series .volveras{
  display: none;
}

.series .temporadas .tempos button:hover {
  background: white;
  color: Black;
}

.series .temporadas {
  display: flex;
  flex-direction: row;
}

.series .temporadas .butonS button {
  color: white;
  margin-right: 10px;
  font-size: 10px;
  text-transform: uppercase;
  background: blue;
  width: 165px;
  height: 35px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: 800;
}

.series .temporadass {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  gap: 20px;
  justify-content: center;
}

.series .temporadass .cap1 {
  text-align: center;

}

.series .temporadass .cap1 h6 {
  color: white;
  font-size: 13px;
}

.series .temporadass .cap1 iframe {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  padding-bottom: 10px;
  background: rgb(20, 20, 20);
  object-fit: cover;
  background-position: center;
  border: 1px solid white;
}

.series .copy {
  padding-top: 100px;
  color: white;
  text-align: center;
}



/*RESPONSIVE DESIGNS*/
/*Adaptación a tablet de mas de 800px*/
@media  screen and (max-width: 1100px){
  .gallery--container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
    gap: 10px;
  }
  
}




/* RESPONSIVE ================================*
        /*adaptación a tablets*/
@media screen and (max-width: 820px) {
  .nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background: black;
    padding: 0 40px;
  }
.open_bars{
    display: block;
    margin-right: -20px;
}
.open_bars.ocultar{
    display: none;
}
.close_bars{
    display: none;
    margin-right: -20px;
}
.close_bars.mostrar{
    display: block;
}
.close_bars i{
    color: white;
    cursor: pointer;
    font-size: 25px;
    margin-right: 15px;
}
.open_bars i{
    color: white;
    font-size: 25px;
    margin-right: 15px;
}
  .logo {
    color: white;
    font-weight: 900;
  }

  .logoo a {
    font-size: 20px;
    margin-left: -15px;
  }
  .logoo .logito{
    display: flex;
    margin-left: 28px;
    margin-top: -5px;
  }

  #Category2 .ct_item-active {
    background: transparent;
    color: white;
  }

  .menuu {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 8vh;
    left: 0%;
    width: 75%;
    height: auto;
    background: black;
    transition: .3s ease-in-out;
    line-height: 35px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(150%);
  }
  .menuu.visible{
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

  .menuu .category_list {
    display: none;
  }

  .menuu #Category2 {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .menuu .category_item {
    border: none;
    outline: none;
  }

  .menuu .menu-i::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    background: gray;
  }

  #Category2 li a {
    border: none;
    outline: none;
    font-size: 15px;
    color: rgb(153, 145, 145);

  }

  #Category2 {
    width: auto;
    background: black;
    display: flex;
    flex-wrap: wrap;
  }

  #Category2 li {
    width: 120px;
    height: 38px;
    background: rgb(29, 27, 27);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 0 0 10px;
  }


  .menuu li:hover .category_list {
    display: none;
  }
  .exit {
    display: none;
  }

  .exit2 {
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    margin-bottom: 10px;

  }

  .exit2 button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border: 2px solid white;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    background: none;
  }

  .exit2 button:hover {
    color: black;
    background: white;
  }

  /* personalización del buscador*/
  .buscar {
    display: none;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    padding: 10px;
    height: 40px;
    border-radius: 40px;
  }

  .none {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buscars {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buscar_texto {
    border: none;
    outline: none;
    color: black;
    font-size: 14px;
    float: left;
    line-height: 45px;
    transition: .3s;
    width: 0;
    border-radius: 10px;
  }

  .boton {
    width: 40px;
    text-decoration: none;
    color: white;
    font-size: 23px;
  }

  ::-webkit-input-placeholder {
    color: black;
  }

  .buscars:hover>.buscar_texto {
    width: 190px;

  }

  /*Centro de pagina*/
  .center-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .titles .title {
    font-size: 45px;
  }

  .titles .subtitle {
    font-size: 25px;
  }

  .center .img {
    display: none;
  }

  /*pelis adaptable*/
  .gallery--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /*Peliculas filtro----------------------------*/
  #wrap {
    width: 100%;
    margin: auto;
    background: linear-gradient(to right, black, black);
    position: relative;
  }

  #wrap h1 {
    color: white;
    font-weight: 700;
    display: flex;
    flex-direction: column;

  }

  .store-wrapper {
    display: flex;
    flex-direction: column;
  }

  .category_list {
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    border: none;
    border-radius: 10px;

  }

  .category_list .category_item {
    width: 100px;
    height: 45px;
    text-align: center;
    justify-content: space-between;
    margin: 5px 0 0 0;
    outline: 1px solid white;
    background: none;
    color: white;
  }

  .category_list .ct_item-active {
    background: rgb(253, 253, 253);
    color: black;
  }

  /*sections peliculas para reporudcirlas*/
.p-center0 {
  width: 100%;
  height: 600px;
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.p-center {
  width: 100%;
  height: 600px;
  background: black;
  display: flex;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit: cover;
  z-index: 100;
  align-items: center;
}

.titulos {
  color: rgba(255, 255, 255, 0.788);
  flex-direction: column;
  display: flex;
  width: 800px;
  padding: 0 0 0 30px;
}

.titulos .pe {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: bold;
}

.titulos .re {
  font-size: 15px;
  color: rgb(224, 209, 209);
  margin-bottom: 10px;
}

.titulos .h2 {
  font-size: 10px;
  margin-bottom: 10px;
  font-weight: 900;
  color: rgba(245, 245, 245, 0.925);
}

.titulos .but button {
  border: none;
  width: 134px;
  height: 45px;
  outline: none;
  border: 3px solid white;
  font-weight: 700;
  border-radius: 10px;
  background: none;
  color: white;
  transition: .3s ease-in-out;
}

.titulos .but button:hover {
  color: black;
  background: white;
}

.p-center .title {
  color: white;
  font-size: 40px;
  font-weight: 900;
}

  /*avatar 2 el camino del agua numero 1 */
  .peliculas{
    display: none;
    background: black;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }  
  .peli_principal{
    width: 100%;
    height: auto;
  }
  .peliculas .peli_center{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .pelis_center{
    display: flex;
  }
  .pelis_center .img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .pelis_center .img img{
    width: 150px;
    height: 200px;
    margin: 20px;
  }
  .pelis_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pelis_main .title{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-right: 10px;
  }
  .pelis_main .subtitle{
    color: rgb(224, 10, 10);
    font-size: 15px;
    margin-bottom: 15px;
  }
  .pelis_main .resubtitle{
    color: rgb(145, 145, 145);
    font-size: 12px;
    margin-bottom: 15px;
  }
  #images_laptop{
    display: none;
  }
  #images_phone{
    display: flex;
  }
  .description_images{
    display: flex;
    flex-direction: column;
  }
  .description_images .descripcion{
    color: rgb(197, 195, 195);
    font-size: 14px;
    margin-bottom: 10px;
    margin: 10px 20px 0 20px;
  }
  .description_images .generos{
    color: rgb(197, 195, 195);
      font-size: 14px;
      margin: 10px 20px 0 20px;
  }
  .pelis_main  .description_images .actor{
    color: rgb(197, 195, 195);
    font-size: 14px;
    margin: 10px 20px 0 20px;
  }
  #images_phone .actor{
    color: rgb(197, 195, 195);
    font-size: 14px;
      margin: 10px 20px 0 20px;
  }
  .btns {
    display: flex;
    margin-left: 7px;
    margin-top: 20px;
  }
  
  .btns button {
    border: 1px solid rgba(255, 255, 255, 0.432);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.527);
    background: rgba(124, 117, 117, 0.144);
    outline: none;
    width: 120px;
    height: 45px;
    margin-right: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  .btns button:hover {
    background: rgba(255, 255, 255, 0.438);
    color: rgba(255, 255, 255, 0.61);
    border-radius: 20px;
  }
  .pelicula{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pelicula iframe {
    width: 90%;
    height: 250px;
    background: rgb(10, 10, 10);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
  }
  .ayuda{
    color: rgb(197, 195, 195);
    font-size: 15px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin: 0 20px 0 20px;
    margin-bottom: 20px;
  }
  .copy{
    color: white;
    font-size: 10px;
    text-align: center;
  }
  
  
  
  

  /*Configuracion para todas las series de una sola vez por todas*/
  .serie-center {
    display: flex;
    flex-direction: column;
  }
  .series-header{
    margin-top: -50px;
    padding: 0;
  }

  .series {
    width: 100%;
    flex-direction: column;
    height: auto;
    display: none;
    background: black;
    object-fit: cover;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 101;
    padding-top: 9%;
  }

  .series .img {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .series .serie-center .img button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 20px;

  }

  .series .serie-center .img button:hover {
    background: white;
    color: black;

  }

  .series .img img {
    width: 150px;
    height: 320px;
    margin-left: 30px;
  }

  .series .title {
    color: white;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
  }

  .series .subtitle {
    color: white;
    padding-bottom: 40px;
    text-align: center;
  }

  .series .seriesdescrip {
    color: rgba(255, 255, 255, 0.815);
    width: 90%;
    padding-bottom: 20px;
    font-size: 15px;
    margin: 20px;
  }

  .series .footer h6 {
    color: rgba(255, 255, 255, 0.815);
    font-size: 13px;
    width: 90%;
    padding-bottom: 20px;
    margin-left: 20px;
  }

  .series .temporadas .tempos button {
    width: 140px;
    height: 35px;
    font-size: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid white;
    color: white;
    margin-bottom: 10px;
  }
  .series .temporadas .tempos button:hover {
    background: white;
    color: Black;
  }

  .series .temporadas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
  }

  .series .temporadas .butonS button {
    color: white;
    margin-right: 10px;
    font-size: 10px;
    text-transform: uppercase;
    background: blue;
    width: 165px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 800;
  }

  .series .temporadass {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .series .temporadass .cap1 {
    text-align: center;

  }

  .series .temporadass .cap1 h6 {
    color: rgba(255, 255, 255, 0.815);
    font-size: 13px;
  }

  .series .temporadass .cap1 iframe {
    width: 380px;
    height: 200px;
    border-radius: 10px;
    padding-bottom: 10px;
    background: rgb(20, 20, 20);
    object-fit: cover;
    background-position: center;
    border: 1px solid white;
  }

  .series .copy {
    padding-top: 12px;
    font-size: 10px;
    color: white;
    text-align: center;
  }
  /*personalización del volver*/
  .series-header .title{
    display: none;
  }
  .series .img1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .series-header .subtitle{
    display: none;
  }
  .series .volver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .series .volveras{
    display: block;
    flex-wrap: wrap;
  }
  .series .volveras .title{
    font-size: 25px;
  }
  .series .volveras .subtitle{
    color: red;
    font-size: 13px;
  }
}


/* RESPONSIVE ================================*
        /*adaptación a tablets*/
@media screen and (max-width: 720px) {

  /*pelis adaptable*/
  .gallery--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}







@media screen and (max-width: 480px) {}