@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
/*LOGIN CINEFLIX¿ INICIAL*/
.box{
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background: black;
}
.containers{
  background: rgba(0, 0, 0, 0.829);
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 380px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.border{
  background: linear-gradient(to right, blue, white, blue, white, blue, white, blue);
  width: 390px;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-size: 500%;
  animation: animar 10s infinite
}
@keyframes animar {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 50% 100%;
  }
  100%{
    background-position: 0% 50%;
  }
  
}
.span{
  color: white;
  font-size: 40px;
  font-weight: 900;
}
.header{
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.sesionn .input{
  width: 250px;
  height: 45px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0 0 0 45px;
  position: relative;
  left: 12px;
}
.sesionn #submit{
  width: 130px;
  height: 45px;
  border-radius: 10px;
  outline: none;
  border: 1px solid white;
  position: relative;
  padding: 0;
  margin-bottom: 5px;
  font-weight: 700;
  left: -1px;
}
.sesionn i{
  position: relative;
  color: blue;
  top: 2px;
  left: -84%;
  z-index: 200;
}
::-webkit-input-placeholder{
  color: black;
}
.submite:hover{
  color: white;
  background: linear-gradient(to right, black,blue, black);
  font-weight: 900;
  border: 1px solid white;

}
.two-cols{
  display: flex;
  justify-content: space-between;
  color: white;
}
.two label a{
  color: white;
  font-size: 15px;
  margin: 10px;
}
.three label a{
  color: rgb(87, 87, 173);
  display: flex;
  margin: 10px;
}